.grid__column > :first-child {
  margin-top: 0;
}

.grid__column > :last-child {
  margin-bottom: 0;
}

.grid__column--column-align-start {
  justify-self: flex-start;
}

.grid__column--column-align-center {
  justify-self: center;
}

.grid__column--column-align-end {
  justify-self: flex-end;
}

.grid__column--column-span-1 {
  grid-column-end: span 1;
}

.grid__column--column-span-2 {
  grid-column-end: span 2;
}

.grid__column--column-span-3 {
  grid-column-end: span 3;
}

.grid__column--column-span-4 {
  grid-column-end: span 4;
}

.grid__column--column-span-5 {
  grid-column-end: span 5;
}

.grid__column--column-span-6 {
  grid-column-end: span 6;
}

.grid__column--column-span-7 {
  grid-column-end: span 7;
}

.grid__column--column-span-8 {
  grid-column-end: span 8;
}

.grid__column--column-span-9 {
  grid-column-end: span 9;
}

.grid__column--column-span-10 {
  grid-column-end: span 10;
}

.grid__column--column-span-11 {
  grid-column-end: span 11;
}

.grid__column--column-span-12 {
  grid-column-end: span 12;
}

.grid__column--column-start-1 {
  grid-column-start: 1;
}

.grid__column--column-start-2 {
  grid-column-start: 2;
}

.grid__column--column-start-3 {
  grid-column-start: 3;
}

.grid__column--column-start-4 {
  grid-column-start: 4;
}

.grid__column--column-start-5 {
  grid-column-start: 5;
}

.grid__column--column-start-6 {
  grid-column-start: 6;
}

.grid__column--column-start-7 {
  grid-column-start: 7;
}

.grid__column--column-start-8 {
  grid-column-start: 8;
}

.grid__column--column-start-9 {
  grid-column-start: 9;
}

.grid__column--column-start-10 {
  grid-column-start: 10;
}

.grid__column--column-start-11 {
  grid-column-start: 11;
}

.grid__column--column-start-12 {
  grid-column-start: 12;
}

.grid__column--row-align-start {
  align-self: flex-start;
}

.grid__column--row-align-center {
  align-self: center;
}

.grid__column--row-align-end {
  align-self: flex-end;
}
