.button {
  display: inline-block;
  font-weight: 600;
  padding-inline-end: 3em;
  position: relative;
  text-transform: uppercase;
}

.button::after {
  background-color: currentcolor;
  content: '';
  height: 0.125em;
  inset-block-start: 50%;
  inset-inline-end: 0;
  position: absolute;
  transform: translateY(-50%);
  width: 2.5em;
}
