body {
  background-image: linear-gradient(to right, #f4f4f4 1px, transparent 1px);
  background-position: 50%;
  background-size: calc(90% / 3);
  color: var(--color-font-base);
  font-family: "Source Sans Pro", sans-serif;
  font-size: clamp(0.875rem, 0.8125rem + 0.3125vw, 1rem);
  line-height: 1.75;
  margin: 0;
  min-height: 100vh;
}

@media (width >= 1440px) {
  body {
    background-size: calc(var(--grid-max-width) / 3);
  }
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}

body::-webkit-scrollbar {
  height: 0.5em;
  width: 0.25em;
}
