/*
  https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/
  min viewport width: 320
  max viewport width: 960
*/

h1,
h2,
h3 {
  color: var(--color-primary);
  font-weight: 400;
  max-width: 768px;
}

h1 {
  font-size: clamp(2rem, 1.5rem + 2.5vw, 3rem);
  line-height: 1.125;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}

h2 {
  font-size: clamp(1.75rem, 1.375rem + 1.875vw, 2.5rem);
  line-height: 1.25;
  margin-bottom: 0.5em;
  margin-top: 0;
}

h3 {
  font-size: clamp(1.25rem, 1.125rem + 0.625vw, 1.5rem);
  line-height: 1.25;
  margin-bottom: 0;
  margin-top: 0.75em;
}
