* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  height: 100vh;
  line-height: 1.5;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

address {
  font-style: normal;
  margin-bottom: 1.5em;
  margin-top: 0.5em;
}

figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.125rem;
}

button,
input,
textarea,
select {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
}

[type="submit"] {
  border: 1px solid;
  font-size: 0.875rem;
  padding: 0.5em 1.5em;
  text-transform: uppercase;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

p {
  margin-bottom: 1.5em;
  margin-top: 0.5em;
}

ol,
ul {
  margin-bottom: 1.5em;
  margin-top: 0.5em;
}

textarea {
  min-height: 6em;
  resize: vertical;
}

ul {
  padding-left: 1.5em;
}

.layout {
  display: flex;
}
