.social {
  background-color: var(--color-secondary);
  background-image: linear-gradient(to right, #f4f4f4 1px, transparent 1px);
  background-position: 50%;
  background-size: calc(90% / 3);
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  left: 0;
  padding: 0.5em 5% 1.5em;
  position: fixed;
  right: 0;
  will-change: transform;
  z-index: 1;
}

@media (min-width: 1400px) {
  .social {
    background-size: calc(var(--grid-max-width) / 3);
    padding-left: 3.5em;
    padding-right: 3.5em;
  }
}
