.navigation {
  color: var(--color-primary);
  font-weight: 600;
}

.navigation--main .navigation__link--active::after {
  background-color: var(--color-primary);
  content: '';
  height: 0.25em;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.navigation__list {
  list-style: none;
  margin: -1em;
  padding: 0;
}

.navigation__list--inline {
  display: flex;
  flex-wrap: wrap;
}

.navigation__item {
  margin: 1em;
}

.navigation__link {
  color: #333;
  display: inline-block;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  position: relative;
  transition: color 0.3s;
}

.navigation__link--active {
  color: var(--color-primary);
}
