.gallery {
  column-gap: 2em;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
  row-gap: 12em;
}

.gallery__item figure {
  overflow: hidden;
}

.gallery__item img {
  object-fit: cover;
  transition: transform 1s cubic-bezier(0.2, 1, 0.8, 1);
}

.gallery__item:nth-child(7n + 1) {
  grid-column-end: span 3;
  grid-column-start: 2;
  margin-top: 14em;
}

.gallery__item:nth-child(7n + 1) img {
  aspect-ratio: 3 / 2;
}

.gallery__item:nth-child(7n + 2) {
  grid-column-end: span 4;
  grid-column-start: 6;
}

.gallery__item:nth-child(7n + 2) img {
  aspect-ratio: 4 / 5;
}

.gallery__item:nth-child(7n + 3) {
  grid-column-end: span 3;
  grid-column-start: 4;
}

.gallery__item:nth-child(7n + 3) img {
  aspect-ratio: 4/ 5;
}

.gallery__item:nth-child(7n + 4) {
  grid-column-end: span 2;
  grid-column-start: 2;
  margin-top: 10em;
}

.gallery__item:nth-child(7n + 4) img {
  aspect-ratio: 1 / 1;
}

.gallery__item:nth-child(7n + 5) {
  grid-column-end: span 5;
  grid-column-start: 6;
}

.gallery__item:nth-child(7n + 5) img {
  aspect-ratio: 5 / 4;
}

.gallery__item:nth-child(7n + 6) {
  grid-column-end: span 4;
  grid-column-start: 4;
}

.gallery__item:nth-child(7n + 6) img {
  aspect-ratio: 4 / 5;
}

.gallery__item:nth-child(7n + 7) {
  grid-column-end: span 3;
  grid-column-start: 9;
  margin-top: 14em;
}

.gallery__item:nth-child(7n + 7) img {
  aspect-ratio: 4 / 3;
}

.gallery__item figure:hover img {
  transform: scale(1.05);
}
