.section {
  align-items: center;
  display: flex;
  padding-bottom: 3em;
  padding-top: 3em;
}

@media (min-width: 1080px) {
  .section {
    padding-bottom: 6em;
    padding-top: 6em;
  }
}

.section--full {
  min-height: 100vh;
}
