.section {
  align-items: center;
  display: flex;
  padding-bottom: var(--space-xxl);
  padding-top: var(--space-xxl);
}

@media (min-width: 1080px) {
  .section {
    padding-bottom: var(--space-xxxl);
    padding-top: var(--space-xxxl);
  }
}

.section--full {
  min-height: 100vh;
}
