.section {
  align-items: center;
  display: flex;
  padding-block: var(--space-xxl);
}

@media (width >= 1080px) {
  .section {
    padding-block: var(--space-xxxl);
  }
}

.section--full {
  min-height: 100vh;
}
